<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{ main_title|default:'Без заголовка' }}</title>
</head>
<body>
    <p>Меню с добавленным разделителем: {{ menu|join:' | ' }}</p>
    <p>Вещественное Число = {{ float }}</p>
    <p>Добавить 50 (преобразует в целое): {{ float|add:'50' }}</p>
    <p>Делимость Числа на 3 (применяет к целой части числа): {{ float|divisibleby:'3' }}</p>
    <p>Список: {{ lst }}</p>
    <p>Длина списка: {{ lst|length }}</p>
    <p>Множество: {{ set }}</p>
    <p>Словарь: {{ dict }}</p>
    <p>Обращение к элементам Словаря: {{ dict.key_1 }} {{ dict.key_2 }}</p>
    <p>Объект (в  данн случае Класс): {{ obj }}</p>
    <p>Обращение к Аргументам Объекта: {{ obj.a }}</p>
    <p>Фильтр преобразование в slug: {{ 'The main page'|slugify }}</p>
    <p>Фильтр преобразование в slugify использовали как функцию в модуле view: {{ url }}</p>


    <p>Заголовок с фильтром Первой Буквой - Заглавной: (см заголовок)</p>
    <h1>{{ title|capfirst }}</h1>
</body>
</html>